In [66]:
# Dependecies
import pandas as pd
import json as js

In [67]:
# Import JSON
game_JSON = "purchase_data.json"

In [68]:
# Read JSON data
game_data = pd.read_json(game_JSON)
game_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [69]:
# Total number of players
#total_num_players = game_data['SN'].nunique()
#total_players_df = pd.DataFrame(columns=['Total Players'])
#total_players_df['Total Players'] = [game_data['SN'].nunique()]
#total_players_df

In [70]:
#total_players = [{'Total Players': game_data['SN'].nunique()}]
total_players = game_data['SN'].nunique()
total_players_df = pd.DataFrame([{'Total Players': game_data['SN'].nunique()}])
total_players_df

   Total Players
0            573

In [71]:
#PURCHASING ANALYSIS

# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
#Total Revenue

num_unique_items = game_data['Item Name'].nunique()
avg_purch_price = game_data['Price'].mean()
total_num_purch = game_data['Item Name'].count()
total_rev = game_data['Price'].sum()

# Put everything into a df
purchasing_analysis_df = pd.DataFrame([{'Num of Unique Items': num_unique_items,
                                        'Avg Price': avg_purch_price,
                                        'Num of Purchases': total_num_purch,
                                        'Total Revenue': total_rev}])
purchasing_analysis_df = purchasing_analysis_df.round(2)
purchasing_analysis_df

   Avg Price  Num of Purchases  Num of Unique Items  Total Revenue
0       2.93               780                  179        2286.33

In [114]:
#Gender Demographics

# Percentage and Count of Male, Female, Other
# Value_counts
# Take value count/total amt *100

gender_unique = game_data.loc[:,['SN','Gender','Age']]
gender_unique = gender_unique.drop_duplicates()
gender_count = gender_unique['Gender'].value_counts()
gender_percent = gender_count / total_players * 100
gender_demo_df = pd.DataFrame({'Count': gender_count, 'Percent': gender_percent})

#gender_demo = pd.concat([gender_count_df,gender_percent_df],axis=1)
#gender_demo = gender_demo.rename(columns={'Gender': 'Count', 'Gender': 'Percent'})
gender_demo_df = gender_demo_df.round(2)
gender_demo_df

                       Count  Percent
Male                     465    81.15
Female                   100    17.45
Other / Non-Disclosed      8     1.40

In [125]:
#Purchasing Analysis (Gender)

#The below each broken by gender
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Normalized Totals

purch_count = game_data.groupby(['Gender']).count()['Price']
avg_purch_price = game_data.groupby(['Gender']).mean()['Price']
total_purch_val = game_data.groupby(['Gender']).sum()['Price']
norm_total = total_purch_val/gender_count

# Put into dataframe
gender_analysis_df = pd.DataFrame({'Purchase Count': purch_count, 
                                   'Avg Purchase Price': avg_purch_price, 
                                   'Total Purchase Value': total_purch_val,
                                   'Normalied Totals': norm_total})
gender_analysis_df = gender_analysis_df.round(2)
gender_analysis_df

,Avg Purchase Price,Normalied Totals,Purchase Count,Total Purchase Value
Gender,,,,
Female,2.82,3.83,136,382.91
Male,2.95,4.02,633,1867.68
Other / Non-Disclosed,3.25,4.47,11,35.74